.button {
    display: flex;
}

.btn {
    background-color: var(--accent);
    display: flex;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    margin: 1rem;
    padding: 0.75rem 1.5rem;
    font-weight: 700;
    transition: transform 0.5s;
    box-shadow: 0 1px 2px #1a1a1a4d, 0 1px 3px 1px #1a1a1a26;
}

.btn:hover {
    background-color: var( --main) ;
    color: var(--accent);
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(26,26,26,0.15);
}

@media (max-width: 768px) {
    .btn {
        padding: 0.5rem 1rem;
    }
  

}