.footer {
    display: flex;
    flex-direction: column ;
    align-items: center;
    background: var(--main);
    padding: 2rem;
    color: var(--text);
}

/* footer image:hover{
    box-shadow: 0px 0px 20px 20px rgba(165, 204, 255, 1);
    background-color: var(--color4);
    border-radius: 15px;
} */