@import "tailwindcss";


:root {
  --main: #e6cfc3 ;
  --text: #000000;
  --background: #f5efea;
  --accent: #b76e79;
}

@font-face {
    font-family: 'Nunito';
    src: url('/font/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoBold';
    src: url('/font/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Dreaming';
    src: url('/font/dreaming-outloud-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    color: var(--text);
}

html {
  scroll-behavior: smooth;
}


body {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  background-color: var(--background);
}

h1 {
  font-size: 3rem;
  font-family: 'Dreaming', sans-serif;
  color: var(--accent);
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem; 
  width: 100%;
}


h2:before {
    content: "";
    display: absolute;
    background-color: var(--accent);
    width: 20%;
    height: 2px;
    margin: 1.5rem 2rem;
    top: 20px;
    border-radius: 50px;
}

h2:after {
    content: "";
    display: absolute;
    background-color: var(--accent);
    width: 20%;
    height: 2px;
    margin: 1.5rem 2rem;
    top: 20px;
    border-radius: 50px;
}


h3 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

#about,
#skills,
#experience,
#projet,
#contact,
#mentions {
    margin: 10rem;
}

@media (max-width: 768px) {
  #about,
  #skills,
  #experience,
  #projet,
  #contact,
  #mentions {
    margin: 10rem 1rem;
  }

 

  h2::before {
     display: none;
  }
  h2::after {
     display: none;
  }
  
}