.hero {
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 5rem; 
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.poste {
    font-size: 2.5rem;
}

.competence {
    font-size: 1.5rem;
}

.description {
    font-size: 1.5rem;
    font-style: italic;
}

#typed-output {
    font-family: 'Dreaming', sans-serif;
    color: var(--color2);
    font-size: 1.75rem;
    height: 1.5rem;
}

.poste {
    text-transform: uppercase;
    font-weight: bold;
}


