.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 3rem;
}

.text-skills {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.quality {

}


.skills-card {
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(26, 26, 26, 0.5);
    gap: 2rem;
    width: 25rem;
    max-height: 55rem;
}

.skills-card p,
.langue p {
    margin: rem 0;
    text-align: center;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.skills-container p {
    background-color: var(--accent);
    padding: 0.5rem;
    border-radius: 2rem;
    color: var(--background);
}

.quality{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
}

.langue{
    display: grid;
    grid-template-columns:  1fr; 
    justify-items: center;
    margin-top: 3rem;
   
}

.skills-item-langue {
    width: 100%;
}

.skills-item-langue p {
    text-align: start;
}

.skills-container-langue{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


@media (min-width: 2560px) {
    .skills {
            grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .skills {
        grid-template-columns: 1fr; 
        justify-content: center;
        
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }

    .skills-card {
        width: 18rem;
    }
}



@media (min-width: 320px) and (max-width: 425px) {

    .skills {
        grid-template-columns: 1fr; 
        justify-content: center;
    }
    .skills-container {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .skills-card {
        width: 18rem;
    }

    .skills-item {
        margin: 0 6rem;
    }
}
