:root {
    --color1: #FFFFFF;
    --color2: #181818;
    --color3: #EFC6FD;
    --color4: #A5CCFF;

}



    /*Global settings*/
* {
    font-family: Arial, Calibri, sans-serif;
    margin: 0px;
}

body {
    background-color: var(--color2);
    font-size: 1rem;
    color: var(--color1);
}

@font-face {
    font-family: Acme;
    src: url('Font/Acme-Regular.ttf');
}

h1 {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-family: "Acme", sans-serif;
    margin-bottom: 1rem;

}
h1::before {
    content: "";
    display: absolute;
    width: 20%;
    height: 2px;
    top: 20px;
    background-color: var(--color3);
    margin: 1rem 2rem;
}
h1::after {
    content: "";
    display: absolute;
    width: 20%;
    height: 2px;
    top: 20px;
    background-color: var(--color3);
    margin: 1rem 2rem;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: var(--color3);
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

h5 {
    font-weight: bold;
}


    /*Header*/
#navbar {
    box-shadow: 0 4px 4px hsla(0, 0%, 9%, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: 0.2s ease;

}

.logo {
    display: flex;
    align-items: center;
    color: var(--color3);
    font-size: 2rem;
    font-family: "Acme", sans-serif;
}


.nav-link {
    color: var(--color1);
}

.nav-link:hover {
    font-weight: bold;
    color: var(--color4);
}

.navbar-toggler-icon {
    background-image: url("img/menu.svg");
}

 .navbar-toggler {
    background: var(--color3);
}

.container-fluid {
    display: flex;
    align-items: center;
}


    /*Button*/
.btn {
    display: flex;
    justify-content: center;
    background-color: var(--color3) ;
    margin: 1rem;
    box-shadow: 10px 10px 20px rgba(24, 24, 24, 0.5);

}

.btn:hover {
    background-color: var(--color4) ;
    color: var(--color2);
    transform: scale(1.1);
    font-weight:bold ;
}



    /*Hero-area*/
#typed-output {
    font-family: 'Courier New', Courier, monospace;
    color: var(--color1);
    font-size: 24px;
    height: 100px;
}
.typed-cursor {
    display: none;
  }

#hero-area {
    position: relative;
    background-image: url('img/hero-area4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem;
    /* line-height: 6; */
}
#hero-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 4rem;
    z-index: 2;
}

.hero-content img:hover {
    box-shadow: 0px 0px 20px 20px rgba(165, 204, 255, 1);
    background-color: var(--color4);
    border-radius: 15px;
}

.hero-content a {
    margin-bottom: 2rem;
}


#hero-area p {
    display: flex;
    line-height: 2;
    color: var(--color1);
    font-size: 1.5rem;
}

#hero-area .title-hero {
    font-size: 3rem;
    color: var(--color4);
    font-family: "Acme", sans-serif;
}



    /*Fade-in sections*/
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

section {
    margin: 50px 80px 50px 80px;
}



    /*About*/
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.card-about {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    perspective: 1000px;

}
.card-about.hidden {
    display: none;
}
.card-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.card-about:hover .card-img {
    transform: rotateY(180deg); 
}
.about-img, .about-text {
    position: absolute;
    height: 100%;
    padding: 1rem;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
  }
.about-img {
    display: flex;
    justify-content: center;
    align-content: center;
}
.about img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.about-text {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background-color: var(--color4);
    transform: rotateY(180deg);
    border-radius: 100%;
}
.about-text p {
    font-family: "Acme", sans-serif;
    color: var(--color2);
    text-align: center;
}

.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.about p {
    text-align: justify;
}

.btnAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



    /*Skills*/
#skills {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 100px 0 100px;
}

.container-skills p {
    text-align: center;
}

#skills img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    padding: 1rem;
}

.container-img {
    display: flex;
    align-items: center;
    flex: 1 1 50% ;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}


.container-skills {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 200px;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 8px 1px 20px 11px rgb(239 198 253 / 30%);
}

.tech-container {
    display: flex;
    flex-direction: column;
    max-height: 335px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.image{
    position: relative;
    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    border-radius: 50px;
}
.overlay p {
    color: var(--color1);
    font-weight: bold;
    text-align: center;
    background: var(--color2);
    border-radius: 10px;
    padding: 2px;
    margin-top: 1rem;
}
.image:hover .overlay {
    opacity: 1;

}
.image:hover img {
    transform: scale(1.1);
}

.box {
    max-height: 500px;
}


.collapsible {
    max-height: 270px;
}
.collapsible.expanded  {
    max-height: 1600px;
}
#toggle-skills {
    color: var(--color4);
    background: none;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
#toggle-skills:hover {
    transform: scale(1.1);
  }



    /*Experiences*/
#experience {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-exp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 5rem;
}

.experience {
    position: relative;
    max-width: 600px;
}

.experience::before {
    content: '';
    position: absolute;
    left: -1%;
    width: 2px;
    background: var(--color1);
    top: 0;
    bottom: 0;
    transform: translatex(-50%);
}

.work::before {
    height: 60%;
}

.container {
    position: relative;
    box-sizing: border-box;
    color: var(--color2);
    background: var(--color4);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
    box-shadow: 10px 10px 20px rgb(165 204 255/ 20%);
}


.container::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -23px;
    width: 16px;
    height: 16px;
    background: var(--color4);
    border-radius: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.title-exp {
    display: flex;
    align-items: center;
}

.title-exp img {
    width: 100px;
    height: 100px;
    padding: 1rem;

}

.diploma {
    font-weight: bold;
    font-style: italic;
}

.date {
    font-style: italic;
}



    /*Portfolio*/

/* .filter-container {
   display: flex;
   justify-content: center;
   border: dashed 2px var(--color1);
   border-radius: 20px;
}
label {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 5px;
}
input[type="checkbox"] {
    display: none;
}
.custom-checkbox {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 100%;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
.custom-checkbox::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    border: solid var(--color2);
    border-width: 0 2px 2px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    transition: all 0.3s ease;
  }
.custom-checkbox:hover {
    border-color: var(--color5);
}
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: var(--color5);
    border-color: var(--color5);
}
input[type="checkbox"]:checked + .custom-checkbox::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    opacity: 1;
} */

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    align-items: center;
    height: 450px;
    width: 500px;
    margin: 1rem;
    box-shadow: 5px 5px 20px  rgba(255, 255, 255, 0.51);
    overflow: hidden;
    background: var(--color2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px; 
}

#Flotti {
    background-image: url(img/Portfolio/Flotti.png); 
}
#MB {
    background-image: url(img/Portfolio/MB.png);
}
#QA {
    background-image: url(img/Portfolio/QA.png);
}
#GVP {
    background-image: url(img/Portfolio/GarageVParrot.png);
    background-size: auto;
}

.img-project {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.intro h4 {
    color: var(--color1);
}

.intro p {
    color: var(--color1);
    
}

.intro {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    background: rgb(24, 24, 24, 0.2);
    color: var(--color2);
    top: 400px; 
    transition: .5s;
}
.card:hover .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    top: 0px;
    bottom: 0px;
    padding: 0.5rem;
    background: rgb(24, 24, 24, 0.6);
}

.intro ul {
    /* list-style: none; */
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
.card:hover ul {
    color: var(--color1);
    opacity: 1;
    visibility: visible;
}

.tags li{
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0rem 1rem 0rem 0rem;
    padding: 0.3rem;
    background: var(--color4);
    border-radius: 5px;
}

.tags {
    display: flex;
    flex-direction: row;
}

.intro a {
    text-decoration: none;
    color: var(--color1);
    background: var(--color3);
    padding: 0.5rem;
    border-radius: 50px;
}
.intro a:hover{
    transform: scale(1.2);
    font-weight:bold ;
}

.card:hover {
    cursor: pointer;
}




    /*Contact*/
.info {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 7px 20px 10px rgba(239, 198, 253, 0.2);
    width: 60%;
    padding: 2rem;
    margin: 0 auto;

}

.info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color1);
}

.contact-info {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
}

.contact-info img {
    height: 50px;
    width: 50px;
}

#contact p {
    text-align: center ;
}


    /*Arrow*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--color3);
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
  }

  .scroll-to-top:hover {
    color: var(--color4);
  }

   .scroll-to-top img {
    width: 50px;
    height: 50px;
  }

  .between img {
    width: 100%;
    height: 100px;
  }



    /*Footer*/
footer {
    background: var(--color3);
    padding: 2rem;
    text-align: center;
    color: var(--color2);
}

footer img:hover{
    box-shadow: 0px 0px 20px 20px rgba(165, 204, 255, 1);
    background-color: var(--color4);
    border-radius: 15px;
}


        /*Media Queries*/

@media (max-width: 1380px) {
    h2{
        padding-bottom: 1rem;
    }
    h2::before {
        position: absolute;
    }
    h2::after {
        position: absolute;
    }

            /*Skills*/
    .collapsible {
    max-height: 340px;
}
    /* .container-img {
        margin-top: 2rem;
        gap: 2rem;
    }
    .pro-skills-container {
        gap: 2rem;
    }
    .image img {
        width: auto;
        height: 90px;
    }
    .task {
        padding: 1rem;
    } */

        /*Exprerience*/
    .work::before {
        height: 100%;
    }

        /*Projets*/
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .intro {  
        top: 400px; 
    }

    .card:hover .intro {
        top: 0px;
    }

    .task, .tag {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    

         /*Contact*/
}

@media (max-width: 1024px) {


        /*Exprerience*/
    .work::before {
        height: 100%;
    }
        /*Contact*/
    .info {
        width: 100%;
    }
}

@media (max-width: 768px) {
            /*Nav*/
    #navbar {
     box-shadow: 0;
    }

    .logo {
        display: none;
    }

    .container-fluid {
        display: flex;

    }

    
            /*About*/
    .about {
        gap: 2rem;
    }
    .container-about {
        width: 100%;
    }


            /*Exprerience*/
    .work::before {
        height: 100%;
    }

    .container-exp {
        gap: 3rem;
    }
       
            /*Contact*/
    .info {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width: 100%;
    }
    .contact-info {
        display: flex;
        justify-content: flex-start;
        margin: 1rem;
    }
}


@media (max-width: 560px) {
        /*Projet*/
    .card {
        height: 530px;
        width: 300px;
    }

    .card:hover .intro {
        height: 530px;
        
    }

    .intro {
        top: 480px; 
    }

        /*Contact*/
    .info {
        height: 100%;
        box-shadow: none;
    }

}





